<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Page title -->
    {% block title %}
    {% endblock %}
    <!-- CCS library imports -->
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'authenticate/bootstrap.min.css' %}">
    <script src="{% static 'authenticate/jquery.min.js' %}"></script>
    <script src="{% static 'authenticate/popper.min.js' %}"></script>
    <script src="{% static 'authenticate/bootstrap.min.js' %}"></script>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-1">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="{% url 'index'%}">
        <img src="{% static 'authenticate/iom_crest.png' %}" alt="logo" style="width:40px;">
      </a>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">My shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overtime</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Section shifts</a>
        </li>
      </ul>
    </nav>
     <!--Navbar end -->

    <!-- Login alert -->
    <div class="pr-1">
        {% if user.is_authenticated %}
        <p class="text-right m-0">Logged in as: {{ user.username }} | <a href="{% url 'logout'%}">Logout</a></p>
        {% else %}
        <p class="text-right m-0">You're not logged in: <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
    <!-- Login alert end -->

    <!-- Page content -->
    {% block content %}
    {% endblock %}
    <!-- Page content end -->
  </body>
</html>
